[Unit]
Description=Thermal Cam
After=network.target

[Service]
User=joachim
WorkingDirectory=/home/thermal-cam
ExecStart=/usr/bin/python3 /home/thermal-cam/cam.py
Restart=always

[Install]
WantedBy=multi-user.target
